{% load static %}
<div class="container ">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'img/hero2.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"  loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Your Success Starts Here: Expert Landing Pages for Maximum Impact</h1>
        <p class="lead">We harness scientifically proven techniques to craft landing pages that are engineered for maximum conversions. Say goodbye to guesswork and hello to results-driven design</p>
        <div class="justify-content-md-start">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        <div>
                            <label for="exampleInputPassword1" class="form-label">Name</label>
                            <input type="text" class="form-control" name="name">
                        </div>
                    </div>

                    <div class="col-6">
                        <div>
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
                            
                        </div>
                    </div>
                </div>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                <br>
                <button type="submit" class="btn btn-primary">Get my free guide!</button>
              </form>
        </div>
      </div>
    </div>
  </div>